/*========== XL-DESKTOP : BETWEEN 1200px TO 1500PX. ==========*/
@media (min-width: 1200px) and (max-width: 1500px) {
    /* GLOBAL */
    .container {
       max-width: 1120px;
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 26px;
    }
    h4 {
      font-size: 20px;
    }
    h6 {
       font-size: 16px;
    }
    body {
       font-size: 15px;
    }

    .logo img {
      max-width: 200px;
   }
   .left-sidebar,
   .right-sidebar {
      width: 220px;
   }
   .right-sidebar {
      padding-left: 20px;
   }
   .categories-box a img {
      font-size: 14px;
   }
   .main-content {
      padding: 30px 20px 30px 30px;
      height: 88vh;
   }
   .categories {
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
   }
   .categories a img {
      max-width: 120px;
      width: 120px;
      height: 120px;
   }
   .post-success img {
      max-width: 300px;
   }
   .back-btn {
      font-size: 28px;
      margin-left: 0;
   }
}

/*========== LG + MD : BETWEEN 768PX TO 1199PX. ==========*/
@media (min-width: 768px) and (max-width: 1199px) {
    /* GLOBAL */
    h1 {
       font-size: 40px;
    }
    h2 {
       font-size: 24px;
    }
    h3 {
       font-size: 22px;
    }
    h4 {
       font-size: 20px;
    }
    h5 {
       font-size: 16px;
    }
    h6 {
       font-size: 14px;
    }
    body {
       font-size: 14px;
    }
.header-area {
   border-width: 2px;
	padding: 20px 0;
   min-height: auto;
}
.logo img {
	max-width: 150px;
}
.main-content {
	padding: 20px 0 20px 20px;
}
.left-sidebar {
	width: 220px;
	padding: 20px 20px 0 0;
}
.post-header > img {
   max-width: 3.5em;
}
.header-right {
	gap: 20px !important;
}
.back-btn {
	font-size: 24px;
	font-weight: 600;
	margin-left: 0;
	gap: 0.84em;
}
.post-success img {
   max-width: 200px;
}
.post-success h2 {
   font-size: 22px;
}
.select-item {
	padding-right: 5px;
}
.profile-content > img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
}
}

/*========== LG-DESKTOP : BETWEEN 992PX TO 1199px. ==========*/
@media (min-width: 992px) and (max-width: 1199px) {
   /* GLOBAL */
   .container {
       max-width: 920px;
   }
   .right-sidebar {
      padding-left: 30px;
      width: 200px;
      padding-top: 20px;
   }
   .categories-box a {
      padding: 7.5px 0;
   }
   .post-body p {
      font-size: 1.2em;
   }
   .categories-box a img {
      font-size: 12px;
   }
   .author-meta ul li {
      font-size: 11px;
   }
   .categorie-suggest img {
      font-size: 10px;
   }
   .categories {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
   }
   .categories a img {
      max-width: 120px;
      width: 120px;
      height: 120px;
   }
   .categorie-suggest {
      grid-template-columns: repeat(3, 1fr);
   }
}

/*========== MD-TABLET : BETWEEN 768PX TO 991PX ==========*/
 @media (min-width: 768px) and (max-width: 991px) {
   /* GLOBAL */
   .container {
      max-width: 750px;
   }
   .post-body p {
      font-size: 1em;
   }
   /* GLOBAL// */
   .search-btn input {
      padding-left: 3em;
   }
   .search-btn img {
      left: 1em;
   }
   .categories {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
   }
   .categories a img {
      max-width: 90px;
      width: 90px;
      height: 90px;
   }
}
 
/*========== SMALL MOBILE : SMALLER THEN 767PX ==========*/
@media (max-width: 767px) {
   /* GLOBAL */
   h1 {
      font-size: 32px;
   }
   h2 {
      font-size: 24px;
   }
   h3 {
      font-size: 22px;
   }
   h4 {
      font-size: 18px;
   }
   h5 {
      font-size: 16px;
   }
   h6 {
      font-size: 14px;
   }
   body {
      font-size: 14px;
   }
   .scroll-up {
      font-size: 12px;
   }
   input, textarea {
      font-size: 12px;
   }
   /* GLOBAL// */

.header-area {
	min-height: auto;
	border-bottom: 2px solid var(--gray-color);
	padding: 15px 0;
}
.left-sidebar {
	display: none !important;
}
.logo {
   text-align: left;
   padding-right: 50px;
}
.logo > a img {
	max-width: 150px;
}

.main-content {
	padding: 30px 0 30px 0;
	height: 100%;
   overflow: auto;
}
.right-sidebar {
	padding: 0;
}

.post-body p {
	font-size: 14px;
}
.post-item {
	padding: 1em;
}


.back-btn {
	font-size: 24px;
	margin-left: 0;
   gap: 0.50em;
}


.categories {
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.categories a img {
	width: 95px;
	height: 95px;
}
.post-comment-box h5 {
	font-size: 20px;
}
.post-comment-box {
	padding: 1em;
}
.comment-text-box {
	padding: 0.7em;
}
.post-form .nice-select {
	padding: 1.1em 1em;
}
.post-success img {
	max-width: 200px;
}
.language-setting li img {
	max-width: 6em;
	height: 6em;
}
.select-item {
	padding-right: 5px;
}
.profile-content > img {
	width: 100px;
	height: 100px;
}

}

/*========== LARGE MOBILE : BETWEEN 480PX TO 767PX ==========*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
       max-width: 350px;
    }
}