@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Inter:wght@100..900&display=swap');
/* font-family: "Almarai", sans-serif; */

/* COLORS  */
:root {
    --theme-color: #41B06E;
    --text-color: #000000;
    --heading-color: #000000;
    --gray-color: #F6F6F6;
    --white-color: #ffffff;
    --black-color: #000000;
    --font: "Inter", sans-serif;
    --font-heading: "Inter", sans-serif;
    --gradient: linear-gradient(90deg, var(--theme-color), #4A8EFD);
    scroll-behavior: smooth;
}
/* COLORS end */

/* Basic */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
   overflow-x: hidden;
}
body {
   font-size: 18px;
   line-height: 1.5;
   font-weight: normal;
   font-style: normal;
   font-family: var(--font);
   color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    color: var(--heading-color);
    margin-bottom: 15px;
    line-height: 1.2;
    font-weight: 600;
}
h1 {
   font-size: 60px;
}
h2 {
   font-size: 32px;
}
h3 {
   font-size: 28px;
}
h4 {
   font-size: 22px;
}
h5 {
   font-size: 20px;
}
h6 {
   font-size: 18px;
}
p {
   margin-bottom: 15px;
}
img {
   max-width: 100%;
   transition: 0.3s;
   vertical-align: middle;
}
a {
   text-decoration: none;
}
a:hover {
   color: var(--theme-color);
}
a,
button {
   transition: 0.3s ease;
   color: inherit;
   outline: medium none;
   font-size: inherit;
   cursor: pointer;
   background: none;
   border: 0;
}
button:focus,
input:focus,
textarea:focus {
   outline: 0;
}
ul {
   margin: 0px;
   padding: 0px;
}
li {
   list-style: none;
}
/* Cursor Selection */
*::-moz-selection {
   background: #3367D1;
   color: #fff;
   text-shadow: none;
}
*::selection {
   background: #3367D1;
   color: #fff;
   text-shadow: none;
}
/* INPUT, SELECT, TEXTAREA, PLACEHOLDER */
input, textarea {
   width: 100%;
   padding: 1em 1em;
   color: var(--black-color);
   background-color: var(--gray-color);
   transition: .3s;
   border: 1px solid transparent;
   border-radius: 50px;
}
input:focus, textarea:focus {
	/* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
   border: 1px solid var(--theme-color);
}
textarea {
	min-height: 100px;
}
::-moz-placeholder,
::placeholder {
   color: var(--black-color);
   opacity: 0.5;
}
::-ms-placeholder {
   color: var(--black-color);
}
::-webkit-input-placeholder {
   color: var(--black-color);
}
[data-rtl="true"] {
   direction: rtl;
}

[data-rtl="true"] .auction-content > h3:after {
   left: auto;
   right: 0;
}
/*========== SCROLL UP ==========*/
.scroll-up {
   position: fixed;
   bottom: 0;
   right: 1em;
   height: 2.5em;
   width: 2.5em;
   background: var(--theme-color);
   border-radius: 0.2em;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--white-color);
   transition: 0.3s ease;
   opacity: 0;
   pointer-events: none;
   cursor: pointer;
   z-index: 999;
}
.scroll-up.sticky {
   bottom: 2em;
   opacity: 1;
   pointer-events: all;
}
.scroll-up:hover {
   opacity: 0.8;
}
.scroll-up img {
	max-width: 1.25em;
   filter: brightness(0) invert(1);
}
/*========== GLOBAL CSS ==========*/
.text-white {color: var(--white-color);}
.text-black {color: var(--black-color);}
.text-theme {color: var(--theme-color);}
.fw-regular {font-weight: 400;}
.fw-medium {font-weight: 500;}
.fw-semibold {font-weight: 600;}
.fw-bold {font-weight: 700;}
.flex-1 {flex: 1 !important;}

.position-relative {
   position: relative;
   z-index: 1;
}
.white-content h1,
.white-content h2,
.white-content h3,
.white-content h4,
.white-content h5,
.white-content h6,
.white-content p {
   color: var(--white-color);
}
.bg-attachment {
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: var(--gray-color);
}
.el-bg {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}
.el-absolute {
   position: absolute;
   left: 0;
   top: 0;
   z-index: -1;
   max-height: 100%;
}
.el-absolute.center-center,
.el-absolute.center-right,
.el-absolute.center-left {
   top: 50%;
   transform: translate(0, -50%);
}
.el-absolute.center-center {
   left: 50%;
   transform: translate(-50%, -50%);
}
.el-absolute.top-right,
.el-absolute.bottom-right,
.el-absolute.center-right {
   left: auto;
   right: 0;
}
.el-absolute.bottom-right,
.el-absolute.bottom-left {
   top: auto;
   bottom: 0;
}
.bottom-center {
   left: 50%;
   top: auto;
   bottom: 0;
   transform: translateX(-50%);
}
.section-overlay::before {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   z-index: -1;
   background: #000;
   opacity: 0.5;
   transition: 0.3s ease;
}
/* SlideDown Animation  */
@-webkit-keyframes slideInDown {
   from {
     -webkit-transform: translate3d(0, -100%, 0);
     transform: translate3d(0, -100%, 0);
     visibility: visible;
   }
 
   to {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
   }
}
@keyframes slideInDown {
   from {
     -webkit-transform: translate3d(0, -100%, 0);
     transform: translate3d(0, -100%, 0);
     visibility: visible;
   }
 
   to {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
   }
}
.slideInDown {
   -webkit-animation-name: slideInDown;
   animation-name: slideInDown;
}
.zindex-2 {z-index: 2;}
.container {
   max-width: 1660px;
}
/*========== CONTAINER WIDTH ==========*/
/*========== PRELOADER ==========*/
.preloader {
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: #ffffff;
   z-index: 999999;
}
.lds-roller {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
}
.lds-roller div {
   animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
   transform-origin: 40px 40px;
}
.lds-roller div:after {
   content: " ";
   display: block;
   position: absolute;
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background: var(--theme-color);
   margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
   animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
   top: 63px;
   left: 63px;
}
.lds-roller div:nth-child(2) {
   animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
   top: 68px;
   left: 56px;
}
.lds-roller div:nth-child(3) {
   animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
   top: 71px;
   left: 48px;
}
.lds-roller div:nth-child(4) {
   animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
   top: 72px;
   left: 40px;
}
.lds-roller div:nth-child(5) {
   animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
   top: 71px;
   left: 32px;
}
.lds-roller div:nth-child(6) {
   animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
   top: 68px;
   left: 24px;
}
.lds-roller div:nth-child(7) {
   animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
   top: 63px;
   left: 17px;
}
.lds-roller div:nth-child(8) {
   animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
   top: 56px;
   left: 12px;
}
@keyframes lds-roller {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
/*========== PRELOADER// ==========*/


/* HEADER AREA */
.header-area {
   min-height: 12vh;
	border-bottom: 3px solid var(--gray-color);
	padding: 15px 0;
}
.logo img {max-width: 250px;}
.header-action-menu a {
  width: 3.5em;
  height: 3.5em;
  display: inline-grid;
  place-content: center;
  background-color: var(--gray-color);
  border-radius: 50%;
}
.header-action-menu a img,
.search-btn img {
  max-width: 1.5em;
  max-height: 1.5em;
}
.search-btn input {
  padding-left: 4.5em;
}
.search-btn img {left: 2em;}
.header-area .nice-select {
	background-color: var(--gray-color);
	border-radius: 20px;
	border: solid 1px transparent;
	display: inline-grid;
   align-items: center;
	float: none;
	font-family: inherit;
	font-size: inherit;
	height: 3.4em;
	line-height: 1;
	padding-left: 1em;
	padding-right: 2em;
	width: auto;
}
.header-area .nice-select::after {
   border-color: var(--theme-color);
	height: 8px;
	right: 1em;
	width: 8px;
}
.header-area .nice-select ul.list {
   width: 100%;
}
.header-area .nice-select:active, .nice-select.open, .nice-select:focus {
	border-color: var(--gray-color);
}
.header-area.sticky {
   position: fixed;
   animation: slideInDown 0.5s ease;
   background-color: var(--white-color);
   width: 100%;
   box-shadow: 0 5px 15px 0 #0000001c;
   z-index: 99;
   border-bottom: 0;
}
/* HEADER AREA end */


.left-sidebar,
.right-sidebar {
	width: 320px;
   padding: 30px 0;
}
.right-sidebar {
	padding-left: 30px;
}
.main-content {
	padding: 30px 50px 30px 80px;
	height: 88vh;
}
.left-sidebar {
   padding-right: 2em;
   min-height: 88vh;
	border-right: 3px solid var(--gray-color);
}
.mainmenu ul li {
  display: block;
  margin: 5px 0px;
}
.mainmenu ul li:last-child {
   margin-bottom: 0;
}
.mainmenu ul li a,
.logutmenu a {
  display: flex;
  align-items: center;
  padding: 1em;
  border-radius: 12px;
  gap: 15px;
  font-weight: 500;
}
.logutmenu a {
   display: inline-flex;
   color: #FF0000;
}
.mainmenu ul li a img {
   filter: brightness(0%);
   max-width: 1.5em;
   max-height: 1.5em;
}
.mainmenu ul li.current a {
  background-color: var(--theme-color);
  color: var(--white-color);
}
.mainmenu ul li.current a img {
   filter: brightness(0) invert(1);
}
.logutmenu {
	border-top: 3px solid var(--gray-color);
}
.header-sidebar .logutmenu {
	border-top: 0;
}
/* Language Change */
.change_lang .show_lang,
.change_lang ul li {
	display: flex;
	align-items: center;
	background: var(--gray-color);
	border-radius: 20px;
	gap: 10px;
	cursor: pointer;
	height: 3.5em;
	padding: 0 1em;
   color: var(--text-color);
}
.change_lang ul {
	position: absolute;
	top: 100%;
	right: 0;
	overflow: hidden;
	opacity: 0;
	transition: .2s;
	visibility: hidden;
	width: 100%;
	background-color: var(--theme-color);
	padding: 5px;
   border-radius: 10px;
   
}
.change_lang ul li {
	border-radius: 0;
	background: transparent;
	padding: 0.5em;
	height: auto;
   color: var(--white-color);
}
.change_lang:hover ul {
   opacity: 1;
   visibility: visible;
}
.show_lang img {
	max-width: 1.9em;
}
.change_lang ul img {
	max-width: 1.5em;
}

/* CATEGORIES */
.categorie-suggest {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 15px;
   font-size: 18px;
}
.categorie-suggest img {
   min-width: 4.4em;
   width: 4.4em;
   height: 4.4em;
   object-fit: cover;
   border-radius: 50%;
}
.categorie-suggest span {
   font-size: 0.83em;
}


/* ==========================
   HOME PAGE
============================= */
.home-banner img {
   border-radius: 12px;
}
.post-item {
	border: 1px solid #ECECEC;
	border-radius: 15px;
	padding: 1.5em;
}
.post-body p {
   font-weight: 700;
   font-family: "Almarai", sans-serif;
   font-size: 1.4em;
   line-height: 1.2;
   margin-bottom: 0;
}
.post-header > img {
	max-width: 3.8em;
}
.post-action  > span {
   color: #9D9D9D;
   font-size: 0.85em;
}
.post-footer a {
   font-size: 0.83em;
}
.post-action button {
	padding: 1em;
	margin: 0 -1em;
}
.author-meta ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.85em;
}
.author-meta ul li img {
  max-width: 1.2em;
}

.post-meta ul li {
  display: inline-flex;
  align-items: center;
  background-color: var(--gray-color);
  padding: 0.8em;
  border-radius: 12px;
  margin: 5px 5px;
  cursor: pointer;
  transition: .3s ease;
}
.post-meta ul li.active {
   color: var(--white-color);
   background-color: var(--theme-color);
}
.post-meta ul {
  margin: 0 -5px;
}
.post-meta ul li img {
   max-width: 1.5em;
   margin-right: 0.5em;
}
.post-meta ul li.active img {
   filter: brightness(0) invert(1);
}


/* Hamburger Menu */
.hamburger {
  width: 2em;
  gap: 0.5em;
  font-size: 14px;
  cursor: pointer;
  z-index: 10000;
  margin-left: auto;
}
.hamburger span {
	width: 100%;
	height: 2px;
	background-color: #000;
   transition: .3s;
}
.hamburger span:nth-child(2) {
   margin-left: auto;
   width: 70%;
}
.hamburger.active span:nth-child(1) {
  transform: translateY(0.65em) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  transform: scale(0);
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-0.65em) rotate(-45deg);
}
.hamburger.active {
	position: fixed;
	right: 15px;
	top: 30px;
}

/* Sidebar */
.header-sidebar {
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	height: 100%;
	z-index: 9999;
   transform: translateX(310px);
   transition: .5s ease;
}
.sidebar-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: -9px 0 14px 0px rgba(0, 0, 0, 0.06);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px 15px;
}
.sidebar-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
	z-index: 9998;
	opacity: 0;
   visibility: hidden;
	transition: .6s ease;
   cursor: pointer;
	background-color: #fff;
}
.sidebar-overlay.active {
   opacity: .8;
   visibility: visible;
}
.header-sidebar.active {
	transform: translateX(0);
}
/* Menu */
.sidebar-menu > img {
	max-width: 120px;
}
.sidebar-menu > ul {
   margin-top: 30px;
}
.sidebar-menu ul li {
  display: block;
}
.sidebar-menu ul li a {
	font-size: 14px;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
	border-bottom: 1px solid #E5E5E5;
	display: flex;
	padding: 1em 2em;
	align-items: center;
	gap: 10px;
}
.sidebar-menu ul li.current > a {
   background-color: var(--theme-color);
   color: var(--white-color);
   border-radius: 10px;
}
.sidebar-menu ul li a img {
	max-height: 1.5em;
}
/* Submenu  */
.sidebar-menu li ul.sub-menu {
	background-color: var(--theme-color);
	max-height: 0;
	overflow: hidden;
	transition: .3s;
	padding-left: 1.5em;
}
.sidebar-menu li ul.sub-menu li a {
	color: #fff;
	font-size: 70%;
	border-bottom: 1px solid #ffffff61;
}
.sidebar-menu li.has-child.active > a {
	color: var(--theme-color);
}
.sidebar-menu li ul.sub-menu li a:hover {
	background-color: #00000012;
}
.sidebar-menu ul li.has-child > a:after {
  display: inline-block;
  content: "\f107";
  font-family: "Font Awesome 6 Pro";
  margin-left: 1em;
  transition: .3s;
}
.sidebar-menu ul li.has-child.active > a::after {
  transform: rotate(-180deg);
}
/* Others */
.sidebar-btn .site-btn {
	font-size: 14px;
}
.sidebar-copyright {
	font-size: 14px;
	color: #000;
}


/* ==========================
   CATEGORIES PAGE
============================= */
.cpr-0 {
	padding-right: 0;
}
.categories {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
}
.categories a img {
  max-width: 150px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.back-btn {
	font-size: 32px;
	font-weight: 600;
	margin-left: -45px;
   gap: 0.84em;
}
.back-btn img {
   max-width: 0.55em;
}
.right-sidebar > h3 {
	font-size: 28px;
}




/* ==========================
   SINGLE-POST PAGE
============================= */
.post-comment-box {
	border: 1px solid #ECECEC;
	padding: 1.5em;
	border-radius: 15px;
}
.comment-text-box {
	border: 1px solid #ECECEC;
	border-radius: 10px;
	padding: 1em;
}
.comment-item > img {
	width: 4em;
	height: 4em;
	border-radius: 50%;
	object-fit: cover;
}
.comment-form img {
	margin-right: 2em;
   cursor: pointer;
}
.comment-form input {
   padding-left: 2em;
   padding-right: 4em;
}


/* ==========================
   POST PAGE
============================= */

.post-form label span {
	color: #FFC700;
}
.post-form input {
	border-radius: 12px;
}
.post-form .nice-select {
	float: none;
	font-family: inherit;
	font-size: inherit;
	border-radius: 12px;
	background-color: var(--gray-color);
	border: 0;
	line-height: 1;
	height: auto;
	padding: 1.3em 1em;
}
.post-form .nice-select > span {
	opacity: 0.5;
}
.post-form .nice-select ul.list {
   width: 100%;
}
.post-form .nice-select::after {
   width: 8px;
   height: 8px;
   right: 1.5em;
}

.site-btn {
  background-color: var(--theme-color);
  width: 100%;
  color: var(--white-color);
  border-radius: 12px;
  padding: 1em;
  font-weight: 700;
  display: block;
  text-align: center;
}
.site-btn:hover {
  background-color: var(--black-color);
}
.post-success .site-btn {
	display: inline-block;
	width: auto;
	padding: 1em 3em;
}